
<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <div class="float-right"> 

      <%= render :partial => "partials/login_form" %>

      <!-- link to login -->
      <% if !logged_in? %>
          <%= link_to(login_path, class: 'login', remote: true) do %> 
            <a data-open="login_box"><h4 class="login">LOGIN</h4></a>
          <% end %>
          <div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">Cart</a></div>
      <% end %>

      <!-- options for logged in user -->
      <% if logged_in? %>
        <ul class="dropdown menu" data-dropdown-menu>
          <li> 
            <%= link_to "Welcome, #{current_user.first_name}", user_path(current_user), class: 'login' %>
            <ul class="menu">
              <li><%= link_to "Edit settings", edit_user_path(current_user), class: 'drop login' %></li>
              <li><%= link_to "Logout", logout_path, class: 'drop login' %></li>
            </ul>
          </li>
        </ul>

        <!-- render :partial => "partials/nav/cart_slide"-->

      <% end %>

    </div>
  </section>
</nav>
