
<nav class="top-bar" data-topbar>
  <section class="top-bar-section">
    <div class="float-right"> 

      <%= render :partial => "partials/login_signup" %>

      <!-- link to login -->
      <% if !logged_in? %>
          <%= link_to(login_path, class: 'login', remote: true) do %> 
            <a data-open="login_box"><h4 class="login">LOGIN</h4></a>
          <% end %>
      <% end %>

      <!-- options for logged in user -->
      <% if logged_in? %>
        <%= link_to "Welcome, #{current_user.first_name}", user_path(current_user), class: 'login' %> :: <%= link_to "Logout", logout_path, class: 'login' %>

        <%= image_tag 'cart', class: 'cart right', :data => { 'toggle' => "cart", 'transition' => "overlap"} %>

      <% end %>

    </div>
  </section>
</nav>
