<div class="contain-to-grid">

  <%= render :partial => 'partials/login_bar' %>

  <nav class="top-bar" data-topbar role="navigation"> 
      <div class="top-bar-title" id='logo'>
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon light" type="button" data-toggle></button>
        </span>
        <%= link_to image_tag('logo.png'), dashboard_path %>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <% if can? :admin_nav, @user %>
              <%= render :partial => 'partials/nav/admin_nav' %>
            <% elsif can? :manager_nav, @user %>
              <%= render :partial => 'partials/nav/manager_nav' %>
            <% elsif can? :shipper_nav, @user %>
              <%= render :partial => 'partials/nav/shipper_nav' %>
            <% else %>
              <%= render :partial => 'partials/nav/base_nav' %>
            <% end %>
          </ul>
        </div>
      </div>
      </br>

  </nav>
</div>