<div class="contain-to-grid">

  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <div class="right"> 

        <!-- link to login -->
        <% if !logged_in? %>
            <%= link_to "Login", login_path, class: 'login' %> 
        <% end %>
        <!-- options for logged in user -->
        <% if logged_in? %>
          <ul>
            <li class="has-dropdown"> 
              <%= link_to "Welcome, #{current_user.first_name}", user_path(current_user), class: 'login' %>
              <ul class="dropdown">
                <li><%= link_to "Edit settings", edit_user_path(current_user), class: 'login' %></li>
                <li><%= link_to "Logout", logout_path, class: 'login' %></li>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </section>
  </nav>
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <div class="left" id='logo'>
          <%= link_to image_tag('logo.png'), home_path %>
      </div>
      <ul class="right">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>

        <!-- options for items -->
        <li class="has-dropdown">
          <%= link_to "Items", items_path %>
          <ul class="dropdown">
            <li><%= link_to "Item List", items_path %></li>
            <li><%= link_to "Reorder List", home_path %></li>
            <li><%= link_to "Add an Item", new_item_path %></li>
          </ul>
        </li>

        <!-- options for purchases -->
        <li>
          <%= link_to "Purchases", purchases_path %>
        </li>

        <!-- options for prices -->
        <li>
          <%= link_to "Prices", item_prices_path %>
        </li>
      </ul>

      </br>

    </section>
  </nav>
</div>