<%= simple_form_for @item_price, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <div class="row align-center">
  <h4><%= controller.action_name.capitalize %> Price</h4>
  <div class="checkout-panel" id="checkout-1">
      <div class="panel-body">
        <div class="input-fields-1">
          <%= f.input :item_id, collection: Item.active.to_a, include_blank: true, input_html: {class: "avg"} %>
          <%= f.input :price, label: 'New Price', input_html: {class: "avg"} %>
        </div>
      </div>
      <%= f.button :submit, class: 'secondary button radius expanded' %>
      <%= link_to 'Cancel', item_prices_path, :class => 'button alert expanded' %>
  </div>
</div>
<% end %>