<!-- link to home -->
<li><%= link_to "Dash", dashboard_path %></li>

<!-- options for items -->
<li>
  <%= link_to "Items", items_path %>
  <ul class="menu vertical">
    <li><%= link_to "Item List", items_path %></li>
    <li><%= link_to "Reorder List", home_path %></li>
    <li><%= link_to "Add an Item", new_item_path %></li>
  </ul>
</li>

<!-- options for purchases -->
<li>
  <%= link_to "Purchases", purchases_path %>
  <ul class="menu vertical">
    <li><%= link_to "Purchases", purchases_path %></li>
    <li><%= link_to "New Purchase", new_purchase_path %></li>
  </ul>
</li>

<!-- options for prices -->
<li>
  <%= link_to "Prices", item_prices_path %>
</li>

<!-- options for orders -->
<li>
  <%= link_to "Orders", orders_path %>
</li>

<!-- options for users -->
<li>
  <%= link_to "Users", users_path %>
  <ul class="menu vertical">
    <li><%= link_to "Employees", users_path %></li>
    <li><%= link_to "Customers", users_path %></li>
    <li><%= link_to "New User", new_user_path %></li>
  </ul>
</li>

<!-- options for schools --><li>
  <%= link_to "Schools", schools_path %>
  <ul class="menu vertical">
    <li><%= link_to "New School", new_school_path %></li>
  </ul>
</li>