<!-- link to dash -->
<li><%= link_to "Dash", dashboard_path %></li>

<!-- options for profile -->
<li>
  <%= link_to "Profile", user_path(current_user) %>
  <ul class="menu vertical">
    <li><%= link_to "Account", user_path(current_user) %></li>
    <li><%= link_to "Edit Info", edit_user_path(current_user) %></li>
  </ul>
</li>

<!-- options for Contact -->
<li>
  <%= link_to "Contact", contact_path %>
</li>