<%= simple_form_for(@school) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { placeholder:"Name" }, label: false %>
    <%= f.input :street_1, input_html: { placeholder:"Street 1" }, label: false %>
    <%= f.input :street_2, input_html: { placeholder:"Street 2" }, label: false %>
    <%= f.input :city, input_html: { placeholder:"City" }, label: false %>
    <%= f.input_field :state, collection: School::STATES_LIST, include_blank: true, input_html: { class:"sch_state_form" }, label: true %>
    <%= f.input :zip, input_html: { placeholder:"Zip" }, label: false %>
    <div class="small-1 columns"> <br> </div>
    <%= f.input :min_grade, as: :integer, input_html: { placeholder:"Minimum Grade", class:"small-4 columns" }, label: false %>
    <div class="small-1 columns"> <p> </p> </div>
    <%= f.input :max_grade, as: :integer, input_html: { placeholder:"Maximum Grade", class:"small-4 columns" }, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
