<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Alex and Mark Chess Store :: <%= controller.controller_name.capitalize %></title>

    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:200|Lato" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="off-canvas-wrapper">
      <div id="title_area">
        <%= render :partial => "partials/nav" %>      
      </div>

      <%= render :partial => "cart/cart_slide" %>
      
      <!--<div class="off-canvas-content" data-off-canvas-content>-->
        <div class="row">
          <div class="small-12 columns" id="main_content">
            <%= render :partial => "partials/flash" %>
            <%= yield %>
          </div>
        </div>

        <footer>
          <div class="small-12 columns" id="footer">
            <%= render partial: 'partials/footer' %>
          </div>
        </footer> 
      <!--</div>-->

      <%= javascript_include_tag    "application" %>
    </div>
  </body>
</html>
