<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Alex and Mark Chess Store :: <%= controller.controller_name.capitalize %></title>

    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:200|Lato" rel="stylesheet">

    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <main>
    <div id="cd-shadow-layer"></div>
 
    <div id="cd-cart">
      <h2>Cart</h2>
      <ul class="cd-cart-items">
        <li>
          <!-- ... -->
        </li>
    
        <li>
          <!-- ... -->
        </li>
      </ul> <!-- cd-cart-items -->
    
      <div class="cd-cart-total">
        <p>Total <span>$39.96</span></p>
      </div> <!-- cd-cart-total -->
    
      <a href="#0" class="checkout-btn">Checkout</a>
      
      <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
    </div> <!-- cd-cart -->
  </main>

  <body>
    <div id="title_area">
      <%= render :partial => "partials/nav" %>      
    </div>
    
    <div class="row">
      <div class="small-12 columns" id="main_content">
        <%= render :partial => "partials/flash" %>
        <%= yield %>
      </div>
    </div>

    <footer>
      <div class="small-12 columns" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer> 

    <%= javascript_include_tag    "application" %>
  </body>
</html>
