<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Alex and Mark Chess Store :: <%= controller.controller_name.capitalize %></title>

    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:200|Lato" rel="stylesheet">
    
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="title_area">
      <%= render :partial => "partials/nav" %>      
    </div>
    
    <div class="row align-center">
        <%= render :partial => "partials/flash", class: "dash-flash" %>
        <%= yield %>
    </div>

    <footer>
      <div class="small-12 columns" id="footer">
        <%= render partial: 'partials/footer' %>
      </div>
    </footer> 

    <%= javascript_include_tag    "application" %>
  </body>
</html>
